---
// Local Stylesheets
import "../styles/reset.css";
import "../styles/app.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content="This is a fake site part of a technical experiment"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Visit Argentina</title>
	</head>
	<body>
		<slot />
	</body>
</html>
