@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans.ttf");
    font-weight: 100 900;
  }
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.ttf");
    font-weight: 100 900;
  }

  .w-max-75 {
    max-width: 75%;
  }

  .heading-shadow {
    text-shadow: 0px 5px 6px #141f33;
  }

  .heading-shadow-subtle {
    text-shadow: 0px 2.4px 4px #141f33;
  }

  .hero-gradient-mobile {
    background: conic-gradient(
      from 31.85deg at -12.4% 57.53%,
      #010a1a -36.72deg,
      rgba(18, 30, 51, 0) 124deg,
      #010a1a 323.28deg,
      rgba(18, 30, 51, 0) 484deg
    );
  }

  .hero-gradient-tablet {
    background: linear-gradient(
      138.3deg,
      #010a1a 2.37%,
      rgba(18, 30, 51, 0) 89.31%
    );
  }

  .hero-gradient-desktop {
    background: linear-gradient(
      132.14deg,
      #010a1a 0.91%,
      rgba(18, 30, 51, 0) 63.6%
    );
  }
}
